# Part 1: Intro to Python

### Some History

- created by a guy named Guido Van Rossum 


<img src="https://cms.qz.com/wp-content/uploads/2019/05/Guido-van-Rossum-e1558635088256.jpg?quality=75&strip=all&w=410&h=231" align="right" width="20%"/>

### Main Features

- general purpose, the "swiss army knife" of programming languages
- open source and free to use
- contains packages (e.g., pandas, numpy, etc.) that make it easier to write code

### Python 2 vs. 3

- Python 2 is phasing out 
- Python 3 is currently the gold standard

### Data Types

In this tutorial, we're going to be walk through the most commonly used data types in Python:

- integers
- floats
- booleans
- strings

If you're interested in learning more about Python's built-in data types, check out the official Python 3 documentation [here](https://docs.python.org/3/library/stdtypes.html).

## 1. Numeric Types

The most common numeric types in Python are `int` (integers) and `float` (floating point numbers). Integers are numbers without a fractional component.

In [4]:
x = 10

type(x)

int

Floats are real numbers written in scientific notation with decimals. This is useful when more precision is needed.

In [ ]:
y = 3.14159

type(y)

Let's create two variables, `n_apples` and `cost`, and assign different numeric values to each variable name.

In [5]:
n_apples = 10

assert type(n_apples) == int

In [9]:
cost_per_apple = 3.55

assert type(cost_per_apple) == float

Now, let's print the value of these variables, along with their data type. We can get the data type of a value by wrapping it inside Python's built-in `type()`.

In [10]:
print(f"n_apples, {n_apples}, is type {type(n_apples)}")
print(f"cost_per_apple, {cost_per_apple}, is type {type(cost_per_apple)}")

n_apples, 10, is type <class 'int'>
cost_per_apple, 3.55, is type <class 'float'>

As expected, variable `n_apples` is an `int` while `cost_per_apple` is a `float`. 

The print statements above use something called f-strings. Why is it called f-string? If you notice in the code above, the string inside the print statement is preceded by an `f` - this puts it in "f-string mode". To embed an expression in your string, you need to wrap it inside squiggly brackets `{ }`. The f-string is only available in Python 3.6 or greater. It lets you embed Python expressions inside string literals in a readable way. Before Python 3.6, you would have to use `%-formatting` or `.format()` to embed expressions inside strings, which was much more verbose and prone to error. If you want to learn more about f-strings, check out this [link](https://realpython.com/python-f-strings/).

If we want to convert a float to an integer (or vice versa), we can easily do so by wrapping the variable in `int()` or `float()`. Let's try this out:

In [11]:
print(f"{cost_per_apple} --> {int(cost_per_apple)}")
print(f"{n_apples} --> {float(n_apples)}")

3.55 --> 3
10 --> 10.0

In Python, it's possible to mix integers and floats in an arithmetic operation. So you don't need to worry about converting these numeric types into a common format. Let's test it out with our variables `n_apples` (an integer) and `cost_per_apple` (a float).

In [17]:
total_cost = n_apples*cost_per_apple
total_cost

35.5

We can see that the output of `n_apples * cost_per_apple` is a float. This is because `n_apples`, which was originally an integer, gets converted to a `float` when it gets multiplied with `cost_per_apple`.

Here's a complete list of arithmetic operations in Python:

- **Addition:** gets the sum of the operands

```
x + y
```

- **Subtraction:** gets the difference of the operands

```
x - y
```

- **Multiplication:** gets the product of the operands

```
x * y
```

- **Division:** produces the quotient of the operands and returns a float

```
x / y
```

- **Division with floor:** produces the quotient of the operands and returns an integer (rounds down)

```
x // y
```

- **Exponent:** raises the first operand to the power of the second operand

```
x ** y
```

## 2. Boolean Type

Python's boolean (`bool`) can have one of two values: `True` and `False`.

In [26]:
is_vegetarian = True 

type(is_vegetarian)

bool

In [27]:
is_vegan = False

type(is_vegan)

bool

A `boolean` expression evaluates a statement and results in a boolean value. For example, the operator `==` tests if two values are equal.

In [28]:
is_vegetarian == is_vegan

False

The `!=` operator tests if two values are **not** equal.

In [30]:
is_vegetarian != is_vegan

True

You can also compare two numeric values using:
 - `>` (greater than)
 - `<` (less than)
 - `>=` (greater than or equal to)
 - `<=` (less than or equal to)

In [31]:
n_donuts = 10
n_muffins = 5

In [37]:
n_donuts >= n_muffins

True

In [38]:
n_donuts < n_muffins

False

Interestingly, you can also compare two strings. The evaluation goes by alphabetical order so the "larger" item would be higher up in the alphabet.

In [39]:
server = 'Anne'
host = 'Jim'

In [40]:
server > host

False

In [41]:
server < host

True

## 3. Strings

Text is stored as type str (string). We think of a string as a sequence of characters. We write strings as characters enclosed with single or double quotes.

In [44]:
his_name = "John Doe"

In [45]:
her_name = "Jane Smith"

In [46]:
print(f"{his_name} and {her_name} are friends.")
print(type(his_name), type(her_name))

John Doe and Jane Smith are friends.
<class 'str'> <class 'str'>

If a string contains an apostrophe, we can use double quotes to define the string and use a single quote character in the string.

In [28]:
phrase = "It's snowing outside"
print(phrase)

It's snowing outside

In [20]:
'ab' + 'cd'

'abcd'

## 4. Sequence Types

The standard seuqence types in Python are: `list`, `tuple`, and `range`.

Lists are constructed with square brackets, separating items with commas: [a, b, c]. Tuples are constructed by the comma operator (not within square brackets), with or without enclosing parentheses, but an empty tuple must have the enclosing parentheses, e.g., a, b, c or ().